body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url(Hyper.jpg);
    position: cover;
}
.music-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: greenyellow;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background: greenyellow;
}
@media (max-width: 480px) {
    .music-box {
        padding: 15px;
    }
    h2 {
        font-size: 1.2rem;
    }
    button {
        font-size: 14px;
        padding: 10px;
    }
}
.scroll {
    font-size: x-large;
    color: rgb(255, 255, 255);
}
.for-vd {
    max-width: 600px;
    margin: auto;
    
}
video {
    width: 50%;
    height: auto;
    margin-left: 25%;
    border-radius: 8px;
}
.content {
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}